/* @font-face {
  font-family: 'Crimson';
  src: url('/public/assets/fonts/Crimson.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} */

html,
body {
  /* font-family: 'Crimson', serif; */
  margin: 0;
  padding: 0;
  background: black;
  overflow: hidden;
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

#app {
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
}
